import json

result = session.run_sql(
    "SELECT USER, ATTRIBUTE->>'$.router_id' FROM INFORMATION_SCHEMA.USER_ATTRIBUTES WHERE ATTRIBUTE->'$.created_by_user'='{{ username }}' AND ATTRIBUTE->'$.created_by_juju_unit'='{{ unit_name }}'"
)
rows = json.loads(str(result.fetch_all()))
with open("{{ output_filepath }}", "w") as file:
    json.dump(rows, file)
